<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="OpenLibraryEntities" connectionString="metadata=res://*/OpenLibraryModel.csdl|res://*/OpenLibraryModel.ssdl|res://*/OpenLibraryModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-JG4V86VG\LOCALDB;initial catalog=OpenLibrary;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>