<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    </configSections>
  <connectionStrings>
    <add name="OpenLibraryZeeRexEntities" connectionString="metadata=res://*/OpenLibraryZeeRexModel.csdl|res://*/OpenLibraryZeeRexModel.ssdl|res://*/OpenLibraryZeeRexModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-JG4V86VG\LOCALDB;initial catalog=OpenLibrary-LibraryOfCongress-ZEEREX;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>