<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="OpenLibraryEntities" connectionString="metadata=res://*/OpenLibraryModel.csdl|res://*/OpenLibraryModel.ssdl|res://*/OpenLibraryModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-JG4V86VG\LOCALDB;initial catalog=OpenLibrary;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="OpenLibrary_ZeeRex_Entities" connectionString="metadata=res://*/OpenLibraryModel-ZeeRex.csdl|res://*/OpenLibraryModel-ZeeRex.ssdl|res://*/OpenLibraryModel-ZeeRex.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-JG4V86VG\LOCALDB;initial catalog=OpenLibrary-LibraryOfCongress-ZEEREX;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>